---
---

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:"Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body{
    display: box;
    min-height: 100%;
    width:100%;
}

.header-bar{
    height: 50px;
    background-color: #000000;
    position: fixed;
    top:0;
    width: 100%;
    padding:10px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    color: #fff;
}
.header-bar .head-title{
    text-align: left;
    flex:1 1 auto;
}
.header-bar .head-title .head-title-text {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.4em;
    color: inherit;
}

.header-bar .head-tools {
    flex:0 1 auto;
}

#main{
    width: 100%;
    min-height: 100%;
    padding: 0;
    overflow: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


#main div.big-title{
    flex: 1;
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: row;
    padding: 50px;
    justify-content: flex-end;
    align-items: center;
    background-image: url('{{ site.github.url }}/images/s4g.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#main div.big-title .big-title-text{
    font-size: 4.5em !important;
    font-weight: bolder;
    text-shadow: 1px 1px 10px #000000;
}

#main div.content, #main div.content-left{
    flex: 1;
    width: 70%;
    margin: 100px auto;
}

#main div.content{
    text-align: center;
}

.mid-img{
    margin: 0 auto;
}

