<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

	{% include meta.html %}
	{% if page.css %}
	<link rel="stylesheet" href="{{ site.github.url }}/{{page.css}}.css">
	{% endif %}
	<link rel="stylesheet" href="{{ site.github.url }}/dist/semantic.min.css">
	<link rel="stylesheet" href="{{ site.github.url }}/index.css" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.url }}/feed.xml" />
	<script src='../jquery.min.js'></script>
</head>
<body>
	{% include header.html%}
	<div id="main">
		{{content}}
	</div>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script type="text/javascript">
		// function showRecaptcha(element) {
		//   Recaptcha.create('6LecUBUUAAAAAHQIWeMjN6W8cyOsSEmdqc-l_Tg0', element, {
		//     theme: 'custom', 
		//     custom_theme_widget: 'g-recaptcha'
		//   });
		// }
		console.log('p1');
		function setupRecaptcha() {
			console.log('p2');
		  var contactFormHost = 's4gpage.herokuapp.com',
		      form = $('#contact-form');
		      // notice = form.find('#notice');

		  if (form.length) {
		    // showRecaptcha('g-recaptcha');

		    form.submit(function(ev){
		      ev.preventDefault();

		      $.ajax({
		        type: 'POST',
		        url: contactFormHost + 'send_email',
		        data: form.serialize(),
		        dataType: 'json',
		        success: function(response) {
		          switch (response.message) {
		            case 'success':
		              form.fadeOut(function() {
		                form.html('<h4>' + form.data('success') + '</h4>').fadeIn();
		              });
		              break;

		            case 'failure_captcha':
		              console.log('failure_captcha');
		              // showRecaptcha('recaptcha_widget');
		              // notice.text(notice.data('captcha-failed')).fadeIn();
		              break;

		            case 'failure_email':
		              console.log('failure_email');
		              // notice.text(notice.data('error')).fadeIn();
		          }
		        },
		        error: function(xhr, ajaxOptions, thrownError) {
		          console.log('error');
		          // notice.text(notice.data('error')).fadeIn();
		        }
		      });
		    });
		  }
		}	</script>
</body>
</html>